table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-delete {
  background: red;
  color: white;
}